body{
    background-color: #f1f1f1;
    font-family: verdana;
}
img{
    width: 190px;
}
div{
    width: 600px;
    margin: 0 auto;
    text-align: center;
    color: grey;
}
h1{
    border: 5px solid grey;
    padding: 10px;
}
h2{
    color: #7a797b;
    margin-top: 35px;
    margin-bottom: 35px;
}
span{
    font-weight: bold;
}
h3{
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    padding: 10px;
}
p{
    font-size: 18px;
    text-align: justify;
    margin-bottom: 35px;
    line-height: 30px;
}
a{
    color: white;
    text-decoration: none;
    background-color: rgb(37, 199, 45);
    padding: 8px 15px;
    border-radius: 20px;
}