body{
    background-color: #F4F0E5;
    font-family: Tahoma;
}
p{
    font-size: 16px
}
.container{
    width: 850px;
    margin: 0 auto;
    text-align: center;
}
.section{
    border-bottom: 2px solid #DE8E37;
    padding-bottom: 20px;
}
.section a{
    margin: 0 10px;
    font-size: 18px;
    color: #4E3215;
    padding: 5px;
}
.section img{
    width: 200px;
}
.section2 h1{
    font-weight: bold;
}
.section2 h2{
    color: #DE8E37;
}
.section2 img{
    padding-bottom: 10px;
}
.section3{
    background-color: #DE8E37;
    color: white;
    padding-top: 1px;
    padding-bottom: 20px;
}
.section3 h3, .section3 h4{
    font-weight: bold;
}
.section3 h3{
    font-size: 50px
}
.section3 h4{
    font-size: 25px
}
.section3 p{
    line-height: 30px;
    width: 650px;
    margin: 0 auto;
    margin-bottom: 10px;
}
.section3 img{
    width: 650px;
}
.section4 span{
    font-weight: bold;
}
